@{
    Layout = "~/Views/Master.cshtml";
}

<!DOCTYPE html>


<div class="interface">
    <h1 class="text-black text-center ">Restaurante Luxo IV</h1>
    <h2 class="text-center">Seja bem vindo !</h2>
</div>
