
@{
    Layout = "~/Views/Master.cshtml";
}
   

    <div class="loginbox">
       <img src="" class="avatar">
       <h1>Fazer Login</h1>
       <form>
           <p>Login(E-mail)</p>
           <input type="text" name="" placeholder="Digite seu E-mail">
           <p>Senha</p>
           <input type="password" name="" placeholder="Digite sua senha">
           <input type="submit" name="" value="Login">
           <a href="#">Esqueceu sua senha?</a><br>
           <a href="~/Views/Cliente/Cadastro.cshtml">Não é cadastrado?</a>
       </form>

    </div>

@section css {
    <link rel="stylesheet" type="text/css" href="~/Content/CSS/login-cliente.css">
}
