@{
    Layout = "~/View/Master.cshtml";
}

<form action="/funcionarios/Store" method="post">
    <div class="form-group" id="div-campo-nome">
        <label for="campo-nome">Nome<span class="text-danger">*</span></label>
        <input type="text" name="Funcionarios.Nome" id="campo-nome" class="form-group" placeholder="Digite seu nome" required="required"/>
    </div>
</form>
