@{
    Layout = "~/Views/Master.cshtml";
}
<form action="~/Reserva/Login" method="post">
    <div class="loginbox">
        <img src="~/imagens e icones/avatar2.png" class="avatar">
        <h1>Fazer Login</h1>
        <div>
            <p>Login(E-mail)</p>
            <input type="text" name="login" id="login" placeholder="Digite seu E-mail">
            @Html.ValidationMessage("Reserva.Login", new { @class = "text-danger" })
        </div>
        <div>
            <p>Senha</p>
            <input type="password" name="senha" id="senha" placeholder="Digite sua senha">
            @Html.ValidationMessage("Reserva.Senha", new { @class = "text-danger" })
        </div>
        <div row class="h-hidden-native mb-15 text-center">
            <label label for="remember_me" class="h-flex align-items-center fw-400"><span class="pl-3 lh-10%">Lembrar de mim</span></label>
            <input type="checkbox" name="remember_me" id="remember_me" value="1" checked="checked" />
        </div>
        <input type="submit" name="" value="Login">
        <a href="#">Esqueceu sua senha?</a><t></t>
        <a href="~/Views/Reserva/Nao_Cadastrado.cshtml">Não é cadastrado?</a>
    </div>
</form>

@section css {
    <link rel="stylesheet" type="text/css" href="~/Content/CSS/pagina-reserva.css">
}