@{
    Layout = "~/Views/Master.cshtml";
}

<head>

    <title>Restaurante Luxo IV - Reserva</title>

</head>

<div class="div-pedido text-center col-md-4 col-md-offset-4">

    <div class=" text-center">

        <div class="row mt-10">

            <div class="col-md-12">

                <h1 class="text-primary text-center text-dark">Reserva</h1>

            </div>

        </div>

    </div>

    <div class="text-center col-md-12">

        <label for="pedido">Pedido</label>

        <input type="text" name="pedido" id="pedido" placeholder="O que você deseja?" />

    </div>

    <div>

        <label for="mesa">Selecione sua mesa</label>

        <input type="week" name="mesa" id="mesa" />

    </div>

    <div>
        <label for="horario">Horário da reserva</label>

        <input type="time" name="horario" id="horario" />

    </div>

    <div>

        <label for="pagamento">Foma de pagamento</label>

        <select class="dropdown">

            <option value="dinheiro">Dineiro</option>

            <option value="cartao_debito">Cartão de Débito</option>

            <option value="cartao_credito">Cartão de Crédito</option>

        </select>

    </div>

    <div>

        <a href="" class="btn btn-primary">Entrar</a>

    </div>

</div>


@section css {
    <link rel="stylesheet" href="~/Content/CSS/pagina-reserva.css" />
}