@{
    Layout = "~/Views/Master.cshtml";
}

<form action="/Reserva/Store" method="post" onsubmit="validarFormulario()">
    <div class="div-reserva text-center col-md-4 col-md-offset-4 text-left">
        <div class="row mt-10">
            <div class="col-md-12">
                <h1 class="text-primary text-center text-dark">Reserva</h1>
            </div>
        </div>
        <div>
            <label for="campo-nome">Nome</label>
            <input type="text" name="Reserva.Nome" id="campo-nome" placeholder="Qual seu nome?" required="required" />
            @Html.ValidationMessage("Reserva.Nome", new { @class = "text-danger" })
        </div>
        <div>
            <label for="campo-cpf">CPF</label>
            <input type="text" name="Reserva.Cpf" id="campo-nome" placeholder="Informe seu CPF" required="required" />
            @Html.ValidationMessage("Reserva.Cpf", new { @class = "text-danger" })
        </div>
        <div>
            <label for="horario">Horário da reserva</label>
            <input type="time" name="horario" id="horario" />
            @Html.ValidationMessage("Reserva.Horario", new { @class = "text-danger" })
        </div>
        <div>
            <label for="pagamento">Foma de pagamento</label>
            <select class="dropdown">
                <option value="dinheiro">Dineiro</option>
                <option value="cartao_debito">Cartão de Débito</option>
                <option value="cartao_credito">Cartão de Crédito</option>
            </select>
            @Html.ValidationMessage("Reserva.Pagamento", new { @class = "text-danger" })
        </div>
        <div>
            <button class="btn btn-success text-center" type="submit">
                <i class="fa fa-save"></i>Confirmar
            </button>
        </div>
    </div>
</form>
@section css {
    <link rel="stylesheet" href="~/Content/CSS/pagina-reserva.css" />
}
